.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
    gap: 1rem;
  }
  
  @media (max-width: 768px) {
    .container {
    flex-wrap: nowrap; 
    align-items: center;
    gap: 0.5rem;
    }
  }